# Entornos virtuales
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de herramientas de Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos generados del ejercicio
# Descomenta estas líneas si NO quieres subir las figuras al repositorio
# figures/*.png